[Unit]
Description=Used for network setup

[Service]
Type=oneshot
RemainAfterExit=no
PassEnvironment=BYPASS_ROUTES
PassEnvironment=DNAT_RULES
ExecStart=/usr/local/bin/udev-vnic-remove.sh %i

